body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #000000;
}

header {
    background-color: #032541;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #333;
}
.hero {
    background-image: url(background1.png);
    background-size: cover;
    background-position: center;
    color: #ffff;
    text-align: center;
    padding: 2rem 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.btn {
    display: inline-block;
    background-color: #032541;
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #0f080b;
}

.featured-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
}
.movie-card {
    width: 200px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1.7rem;
    border-radius: 7px;
    overflow: hidden;
}
.movie-card img {
    max-width: 100%;
    height: auto;
}

.movie-card h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.movie-card p {
    padding: 0 1rem 1rem;
    text-align: center;
    color: #777;
}

footer {
    background-color: #ffffff;
    color: #141010;
    text-align: center;
    padding: 2rem 0;
}
